.SinglePost--List > a {
  text-decoration: none;
  color: black;
}

.SinglePost--List > a:hover {
  text-decoration: underline;
  color: #1e50a2;
}

.SinglePost {
  background: var(--lightGrey);
}

.SinglePost--BackButton {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.SinglePost--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}

.SinglePost--BackButton:hover svg,
.SinglePost--BackButton:focus svg {
  transform: translateX(-0.25em);
}

.SinglePost--Content {
  background: white;
  padding: 8rem 5rem 4rem 5rem;
}


@media screen and (max-width: 750px) {
  .SinglePost--Content {
    padding: 4rem 2rem;
  }
}

.SinglePost--Meta {
  font-size: 1rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

.SinglePost--Meta > * + * {
  margin-left: 0.75em;
}

.SinglePost--Title {
  font-size: 3rem;
  text-align: center;
  line-height: 1.2;
}

.SinglePost--List {
  background-color: #f8f9ff;
  border-top: solid 5px #1e50a2;
  padding: 40px;
  box-shadow: 0 1.5px 2.4px rgba(0, 0, 0, 0.15)
}

.SinglePost--List p {
  font-size: 2rem;
  color: #1e50a2;
}

.SinglePost--List ul {
  list-style: decimal;
}

.SinglePost--List ul > li {
  margin: 10px;
}

.SinglePost--InnerContent {
  padding: 0 5rem;
}

.SinglePost--InnerContent h2 {
  font-size: 2rem;
  background-color: #f8f9ff;
  border-left: solid #1e50a2 5px;
  padding: 14px 12px;
  border-bottom: solid 3px #dadada;
  clear: both;
}

.SinglePost--InnerContent h3 {
  font-size: 1.8rem;
  border-left: solid #1e50a2 5px;
  padding: 10px 10px;
}

@media screen and (max-width: 750px) {
  .SinglePost--InnerContent {
    padding: 0;
  }
}

.SinglePost--Pagination {
  margin: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SinglePost--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.SinglePost--Pagination--Link.next {
  margin-left: auto;
}
